<!DOCTYPE html>
<html>

<head charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reporte Consolidado de Crédito</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
            /* font-weight: 500;
            font-size: 7px; */
            background: white;
            -webkit-print-color-adjust: exact;
            box-sizing: border-box;
        }

        .page {
            /* position: relative; */

            /* display: block; */
            background: white;
            page-break-after: auto;
            /* page-break-after: auto;
            margin: 50px; */
            overflow: hidden;
        }

        .header-container {
            background: #2d2d2f;
            
            padding: 25px 30px;
        }

        .logo {
            height: 40px;
        }

        .header-data {
            color: white;
            text-align: right;
        }

        .header-data-label {
            font-weight: bold;
            color: #fbffff;
            margin-top: 2px;
        }

        .header-data-val {
            font-weight: normal;
        }

        .subheader-container {
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
        }

        .subheader-table-container {
            border: 1px solid black;
            padding: 10px 45px;
            flex: 1;
            margin: 0px 20px 10px 20px;
            display: flex;
            text-align: center;
        }

        .subheader-table-lc {
            text-align: right;
        }

        .subheader-table-rc {
            text-align: left;
            margin-left: 20px;
        }

        .medidor-container {
            flex: 1;
            text-align: center;
        }

        .medidor-img {
            /* height: 40px; */
            width: 75%;
        }

        .score-label {
            margin-top: 10px;
            font-weight: bold;
            font-size: 28px;
        }

        .trademark-symbol {
            font-size: 10px;
            margin-top: 5px;
            position: absolute;

        }

        .subheader-data-label {
            font-weight: bold;
            font-size: 20px;
            text-align: right;
        }

        .subheader-data-val {
            font-weight: normal;
            font-size: 20px;
            text-align: left;
            padding-left: 20px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
        }

        table.table,
        .table th,
        .table td {
            border: 1px solid black;
        }

        .table-header {
            font-weight: bold;
            font-size: 18px;
        }

        .table td {
            padding: 10px 10px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            const data = google.visualization.arrayToDataTable([
                ['Cuenta', 'Deuda'],
                ['Bienes Raíces', parseFloat('<%= data.summary.bienesRaices.actual %>')],
                ['Compra Automóvil', parseFloat('<%= data.summary.compraAutomovil.actual %>')],
                ['Línea de Crédito', parseFloat('<%= data.summary.lineaCredito.actual %>')],
                ['Préstamo Nómina', parseFloat('<%= data.summary.prestamoNomina.actual %>')],
                ['Tarjeta de Crédito', parseFloat('<%= data.summary.tarjetaCredito.actual %>')],
                ['Otros', parseFloat('<%= data.summary.otros.actual %>')]
            ])

            const chart = new google.visualization.PieChart(document.getElementById('piechart1'))

            chart.draw(data, { title: 'Distribución de Deuda Actual' })

            const data2 = google.visualization.arrayToDataTable([
                ['Cuenta', 'Deuda'],
                ['Monto aprobado', parseFloat('<%= data.summary.total.aprobado %>')],
                ['Deuda actual', parseFloat('<%= data.summary.total.actual %>')],
            ])

            const options2 = { title: 'Nivel de endeudamiento' }

            const chart2 = new google.visualization.PieChart(document.getElementById('piechart2'))

            chart2.draw(data2, { title: 'Nivel de endeudamiento' })
        }
    </script>
</head>

<body>
    <div class="container-responsive">
        
        <div class="row header-container">
            <div class="col-6">
                <img class="logo" src="<%= data.host %>/app_assets/images/logo.png" alt="">
            </div>
            <div class="col-6">
                <div class="header-data-label">Fecha de consulta: <span class="header-data-val">Lunes 20 de julio de
                        2020</span></div>
                <div class="header-data-label">Folio consulta: <span class="header-data-val">655,456,345</span></div>
                <div class="header-data-label">Folio consulta otra SIC: <span class="header-data-val">884,234,234</span>
                </div>
            </div>
        </div>
        <div class="subheader-container">
            <div class="subheader-table-container">
                <table style="width:100%">
                    <tr>
                        <td class="subheader-data-label">Nombre(s):</td>
                        <td class="subheader-data-val">ANA LAURA</td>
                    </tr>
                    <tr>
                        <td class="subheader-data-label">Apellido Paterno:</td>
                        <td class="subheader-data-val">MORALES</td>
                    </tr>
                    <tr>
                        <td class="subheader-data-label">Apellido Materno:</td>
                        <td class="subheader-data-val">PEREYRA</td>
                    </tr>
                    <tr>
                        <td class="subheader-data-label">Fecha de nacimiento:</td>
                        <td class="subheader-data-val">06/AGO/95</td>
                    </tr>
                    <tr>
                        <td class="subheader-data-label">CURP:</td>
                        <td class="subheader-data-val">MOPA950806MTCRRN19</td>
                    </tr>
                    <tr>
                        <td class="subheader-data-label">RFC:</td>
                        <td class="subheader-data-val">MOPA950806</td>
                    </tr>
                </table>


            </div>
            <div class="medidor-container">
                <img class="medidor-img" src="<%= data.host %>/app_assets/images/medidor-5.png" alt="">
                <div class="score-label">FICO<span class="trademark-symbol">®</span> <span
                        style="margin-left:10px">Score</span> <span class="score">676</span></div>
            </div>
        </div>

        <div class="section-container">
            <h2>Domicilio</h2>
            <table class="table">
                <tr>
                    <td class="table-header">#</td>
                    <td class="table-header">Calle y No.</td>
                    <td class="table-header">Colonia</td>
                    <td class="table-header">Del/Mpio</td>
                    <td class="table-header">Ciudad</td>
                    <td class="table-header">Estado</td>
                    <td class="table-header">CP</td>
                    <td class="table-header">Teléfono</td>
                    <td class="table-header">Registro</td>
                </tr>
                <% let i = 1 %>
                <% for(let d of data.domicilios) { %>
                <tr>
                    <td><%= i %></td>
                    <td><%= d.direccion.toUpperCase() %></td>
                    <td><%= d.coloniaPoblacion.toUpperCase() %></td>
                    <td><%= d.delegacionMunicipio.toUpperCase() %></td>
                    <td><%= d.ciudad.toUpperCase() %></td>
                    <td><%= d.estado.toUpperCase() %></td>
                    <td><%= d.CP %></td>
                    <td><%= d.numeroTelefono %></td>
                    <td><%= d.fechaRegistroDomicilio %></td>
                </tr>
                <% i++ %>
                <% } %>
            </table>
        </div>

        <div class="section-container">
            <h2>Empleos</h2>
            <table class="table">
                <tr>
                    <td class="table-header">#</td>
                    <td class="table-header">Compañía</td>
                    <td class="table-header">Puesto</td>
                    <td class="table-header">Salario</td>
                    <td class="table-header">Calle y No.</td>
                    <td class="table-header">Del/Mpio</td>
                    <td class="table-header">Ciudad</td>
                    <td class="table-header">Estado</td>
                    <td class="table-header">CP</td>
                    <td class="table-header">Teléfono</td>
                    <td class="table-header">Registro</td>
                </tr>
                <% let j = 1 %>
                <% for(let e of data.empleos) { %>
                <tr>
                    <td><%= j %></td>
                    <td><%= e.nombreEmpresa.toUpperCase() %></td>
                    <td><%= e.puesto.toUpperCase() %></td>
                    <td><%= e.salarioMensual.toUpperCase() %></td>
                    <td><%= e.direccion.toUpperCase() %></td>
                    <td><%= e.delegacionMunicipio.toUpperCase() %></td>
                    <td><%= e.ciudad.toUpperCase() %></td>
                    <td><%= e.estado.toUpperCase() %></td>
                    <td><%= e.CP %></td>
                    <td><%= e.numeroTelefono %></td>
                    <td><%= e.fechaContratacion %></td>
                </tr>
                <% j++ %>
                <% } %>
            </table>
        </div>

        <div class="section-container">
            <h2>Resumen</h2>
            <table class="table">
                <tr>
                    <td class="table-header" colspan="2" style="text-align:center">Descripción</td>
                    <td class="table-header" colspan="4" style="text-align:center">Monto (MXN)</td>
                    <td class="table-header" colspan="3" style="text-align:center">Pagos requeridos por cortes (MXN)
                    </td>
                </tr>
                <tr>
                    <td>Producto</td>
                    <td>Cuentas</td>
                    <td>Límite</td>
                    <td>Aprobado</td>
                    <td>Actual</td>
                    <td>Vencido</td>
                    <td>Pago Semanal</td>
                    <td>Pago Quincenal</td>
                    <td>Pago Mensual</td>
                </tr>
                <tr>
                    <td>BIENES RAÍCES</td>
                    <td><%= data.summaryFormatted.bienesRaices.cuentas %></td>
                    <td><%= data.summaryFormatted.bienesRaices.limite %></td>
                    <td><%= data.summaryFormatted.bienesRaices.aprobado %></td>
                    <td><%= data.summaryFormatted.bienesRaices.actual %></td>
                    <td><%= data.summaryFormatted.bienesRaices.vencido %></td>
                    <td><%= data.summaryFormatted.bienesRaices.pagoSemanal %></td>
                    <td><%= data.summaryFormatted.bienesRaices.pagoQuincenal %></td>
                    <td><%= data.summaryFormatted.bienesRaices.pagoMensual %></td>
                </tr>
                <tr>
                    <td>COMPRA AUTOMÓVIL</td>
                    <td><%= data.summaryFormatted.compraAutomovil.cuentas %></td>
                    <td><%= data.summaryFormatted.compraAutomovil.limite %></td>
                    <td><%= data.summaryFormatted.compraAutomovil.aprobado %></td>
                    <td><%= data.summaryFormatted.compraAutomovil.actual %></td>
                    <td><%= data.summaryFormatted.compraAutomovil.vencido %></td>
                    <td><%= data.summaryFormatted.compraAutomovil.pagoSemanal %></td>
                    <td><%= data.summaryFormatted.compraAutomovil.pagoQuincenal %></td>
                    <td><%= data.summaryFormatted.compraAutomovil.pagoMensual %></td>
                </tr>
                <tr>
                    <td>LÍNEA DE CRÉDITO</td>
                    <td><%= data.summaryFormatted.lineaCredito.cuentas %></td>
                    <td><%= data.summaryFormatted.lineaCredito.limite %></td>
                    <td><%= data.summaryFormatted.lineaCredito.aprobado %></td>
                    <td><%= data.summaryFormatted.lineaCredito.actual %></td>
                    <td><%= data.summaryFormatted.lineaCredito.vencido %></td>
                    <td><%= data.summaryFormatted.lineaCredito.pagoSemanal %></td>
                    <td><%= data.summaryFormatted.lineaCredito.pagoQuincenal %></td>
                    <td><%= data.summaryFormatted.lineaCredito.pagoMensual %></td>
                </tr>
                <tr>
                    <td>PRÉSTAMO NÓMINA</td>
                    <td><%= data.summaryFormatted.prestamoNomina.cuentas %></td>
                    <td><%= data.summaryFormatted.prestamoNomina.limite %></td>
                    <td><%= data.summaryFormatted.prestamoNomina.aprobado %></td>
                    <td><%= data.summaryFormatted.prestamoNomina.actual %></td>
                    <td><%= data.summaryFormatted.prestamoNomina.vencido %></td>
                    <td><%= data.summaryFormatted.prestamoNomina.pagoSemanal %></td>
                    <td><%= data.summaryFormatted.prestamoNomina.pagoQuincenal %></td>
                    <td><%= data.summaryFormatted.prestamoNomina.pagoMensual %></td>
                </tr>
                <tr>
                    <td>TARJETA DE CRÉDITO</td>
                    <td><%= data.summaryFormatted.tarjetaCredito.cuentas %></td>
                    <td><%= data.summaryFormatted.tarjetaCredito.limite %></td>
                    <td><%= data.summaryFormatted.tarjetaCredito.aprobado %></td>
                    <td><%= data.summaryFormatted.tarjetaCredito.actual %></td>
                    <td><%= data.summaryFormatted.tarjetaCredito.vencido %></td>
                    <td><%= data.summaryFormatted.tarjetaCredito.pagoSemanal %></td>
                    <td><%= data.summaryFormatted.tarjetaCredito.pagoQuincenal %></td>
                    <td><%= data.summaryFormatted.tarjetaCredito.pagoMensual %></td>
                </tr>
                <tr>
                    <td>OTROS</td>
                    <td><%= data.summaryFormatted.otros.cuentas %></td>
                    <td><%= data.summaryFormatted.otros.limite %></td>
                    <td><%= data.summaryFormatted.otros.aprobado %></td>
                    <td><%= data.summaryFormatted.otros.actual %></td>
                    <td><%= data.summaryFormatted.otros.vencido %></td>
                    <td><%= data.summaryFormatted.otros.pagoSemanal %></td>
                    <td><%= data.summaryFormatted.otros.pagoQuincenal %></td>
                    <td><%= data.summaryFormatted.otros.pagoMensual %></td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Totales</td>
                    <td><%= data.summaryFormatted.total.cuentas %></td>
                    <td><%= data.summaryFormatted.total.limite %></td>
                    <td><%= data.summaryFormatted.total.aprobado %></td>
                    <td><%= data.summaryFormatted.total.actual %></td>
                    <td><%= data.summaryFormatted.total.vencido %></td>
                    <td><%= data.summaryFormatted.total.pagoSemanal %></td>
                    <td><%= data.summaryFormatted.total.pagoQuincenal %></td>
                    <td><%= data.summaryFormatted.total.pagoMensual %></td>
                </tr>
            </table>
        </div>

        <div class="section-container" style="min-height: 800px; margin-top:40px">
            <div style="display:flex;">
                <div id="piechart1" style="width: 33.3%; height: 300px;border:1px solid black;border-right: none;">
                </div>
                <div id="piechart2" style="width: 33.3%; height: 300px;border:1px solid black"></div>
                <div style="width: 33.3%;text-align:center"><img style="width:auto;height: 300px;"
                        src="<%= data.host %>/app_assets/images/telescopio.png" alt=""></div>
            </div>
        </div>

        <div class="section-container">
            <h2>Detalles de Cuentas</h2>
            <table class="table">
                <tr>
                    <td class="table-header">#</td>
                    <td class="table-header">Producto / Responsabilidad</td>
                    <td class="table-header">Crédito</td>
                    <td class="table-header">Otorgante</td>
                    <td class="table-header">Plazo</td>
                    <td class="table-header">Límite</td>
                    <td class="table-header">Aprobado</td>
                    <td class="table-header">Actual</td>
                    <td class="table-header">Vencido</td>
                    <td class="table-header">A pagar</td>
                    <td class="table-header">Reporte</td>
                    <td class="table-header">Apertura</td>
                    <td class="table-header">Cierre</td>
                    <td class="table-header">Pago</td>
                    <td class="table-header">Historial de pago</td>
                    <td class="table-header">Peor Atraso</td>
                </tr>
                <% let k = 1 %>
                <% for(let c of data.creditos) { %>
                <tr>
                    <td><%= k %></td>
                    <td><%= c.tipoResponsabilidad.toUpperCase() %></td>
                    <td><%= c.tipoCredito.toUpperCase() %></td>
                    <td><%= c.nombreOtorgante.toUpperCase() %></td>
                    <td><%= (c.numeroPagos ? c.numeroPagos : '') + ' ' + c.frecuenciaPagos %></td>
                    <td><%= c.limiteCredito %></td>
                    <td><%= c.creditoMaximo %></td>
                    <td><%= c.limiteCredito %></td>
                    <td><%= c.saldoVencido %></td>
                    <td><%= c.montoPagar %></td>
                    <td><%= c.fechaReporte %></td>
                    <td><%= c.fechaAperturaCuenta %></td>
                    <td><%= c.fechaCierreCuenta %></td>
                    <td><%= c.fechaUltimaCompra %></td>
                    <td><%= c.historicoPagos %></td>
                    <td><%= c.saldoVencidoPeorAtraso %></td>
                </tr>
                <% k++ %>
                <% } %>
            </table>
        </div>

        <div class="section-container">
            <h2>Consultas Realizadas</h2>
            <table class="table">
                <tr>
                    <td class="table-header">Fecha de consulta</td>
                    <td class="table-header">Otorgante</td>
                    <td class="table-header">Tipo de Crédito</td>
                    <td class="table-header">Monto</td>
                    <td class="table-header">Moneda</td>
                </tr>
                <% let l = 1 %>
                <% for(let c of data.consultas) { %>
                <tr>
                    <td><%= c.fechaConsulta %></td>
                    <td><%= c.nombreOtorgante %></td>
                    <td><%= c.tipoCredito %></td>
                    <td><%= c.importeCredito %></td>
                    <td>MXN</td>
                </tr>
                <% l++ %>
                <% } %>
            </table>
        </div>

        <div class="section-container">
            <h2>PLD CHECK</h2>
            <table class="table">
                <tr>
                    <td class="table-header">Consecutivo</td>
                    <td class="table-header">Mensaje</td>
                </tr>

            </table>
        </div>

        <div class="section-container">
            <h2>MensajesK</h2>
            <table class="table">
                <% 
                if(data.mensajes.length > 0) {
                let n = 1 
                 for(let m of data.mensajes) { %>
                <tr>
                    <td><%= m.leyenda %></td>
                </tr>
                <% m++ %>
                <% }} else {%>
                <tr>
                    <td>No hay mensajes</td>
                </tr>
                <% } %>
            </table>
        </div>

    </div>

</body>

</html>