<!DOCTYPE html>
<html>

<head>
	<title>Crowdfunding</title>

	<!-- Stylesheets
	============================================= -->
	<link
		href="https://fonts.googleapis.com/css?family=Overpass:300,400,500,600,700&display=swap"
		rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="<%= host %>/app_assets/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="<%= host %>/app_assets/style.css" type="text/css" />
	<link rel="stylesheet" href="<%= host %>/app_assets/css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="<%= host %>/app_assets/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="<%= host %>/app_assets/css/fonts.css" type="text/css" />
	<link rel="stylesheet" href="<%= host %>/app_assets/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="<%= host %>/app_assets/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="<%= host %>/app_assets/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="<%= host %>/app_assets/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="stretched">

	<div id="root"></div>


	<!-- External JavaScripts
	============================================= -->
	<script src="<%= host %>/app_assets/js/jquery.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="<%= host %>/app_assets/js/functions.js"></script>

	<!-- React -->
	<script src="<%= react_host %>/js/app.js"></script>
</body>

</html>