<!DOCTYPE html>
<html>

<head>
    <title>Crowdfunding</title>

    <!-- Stylesheets
	============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,500,600,700&display=swap" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="<%= host %>/app_assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="<%= host %>/app_assets/style.css" type="text/css" />
    <link rel="stylesheet" href="<%= host %>/app_assets/css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="<%= host %>/app_assets/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="<%= host %>/app_assets/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="<%= host %>/app_assets/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="<%= host %>/app_assets/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="<%= host %>/app_assets/css/magnific-popup.css" type="text/css" />


    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="<%= host %>/app_assets/css/crowdfunding.css" type="text/css" />
    <link rel="stylesheet" href="<%= host %>/app_assets/css/custom.css" type="text/css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
</head>

<body class="stretched">

    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
		============================================= -->
        <header id="header" class="transparent-header" data-logo-height="70" data-menu-padding="24"
            data-sticky-shrink="false">
            <div id="header-wrap">
                <div class="container">
                    <div class="header-row">

                        <!-- Logo
						============================================= -->


                        <div class="myLogo">
                            <img id="myLogoWhite" style="height: 50px; display: none;"
                                src="<%= host %>/assets/images/fibracero/logo-white.png" alt="">
                            <img id="myLogoBlack" style="height: 50px; display: none;"
                                src="<%= host %>/assets/images/fibracero/logo.png" alt="">
                        </div>

                        <div class="header-misc">


                            <a href="#" style="width: 100%; background-color: #027bff; color: #FFF; font-size: 0.9em"
                                class="button button-small font-weight-semibold button-border button-rounded ls0 font-weight-medium ">Abrir
                                cuenta</a>
                        </div>

                        <div id="primary-menu-trigger">
                            <svg class="svg-trigger" viewBox="0 0 100 100">
                                <path
                                    d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
                                </path>
                                <path d="m 30,50 h 40"></path>
                                <path
                                    d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
                                </path>
                            </svg>
                        </div>

                        <!-- Primary Navigation
						============================================= -->
                        <nav class="primary-menu">

                            <ul class="menu-container">

                                <li class="menu-item"><a class="menu-link" href="#">
                                        <div class="nav-title">¿Cómo funciona?</div>
                                    </a></li>
                                <li class="menu-item"><a class="menu-link" href="#">
                                        <div class="nav-title">Entrar</div>
                                    </a>

                                </li>
                            </ul>

                        </nav><!-- #primary-menu end -->



                    </div>
                </div>
            </div>
        </header><!-- #header end -->

        <!-- Slider
		============================================= -->
        <section id="slider" class="slider-element include-header">



            <div class="video-container">
                <div class="video-overlay"
                    style="background:#0000005c url('<%= host %>/app_assets/images/grid.png') repeat"></div>
                <video id="landing-video" autoplay loop muted>
                    <source src="<%= host %>/app_assets/videos/landing.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="container py-5" style="z-index: 20; min-height: 100vh;">

                <div class="row">
                    <div class="col-lg-8 col-md-8 offset-md-2 offset-lg-2 text-center">
                        <div style="margin-top: 60%">
                            <div class="slider-title">
                                <h1 class="page-title" style="color:white; font-size: 4em; text-align: center;">Invierte
                                    en Bienes Raíces
                                </h1>
                                <div class="page-subtitle" style="color:white;text-align: center;">Empieza desde 10 mil
                                    pesos de manera
                                    segura
                                    y
                                    transparente</div>
                            </div>
                            <a href="#" style="padding: 10px 30px;"
                                class="button button-large button-rounded font-weight-semibold ls0 nott ml-0">Invertir
                                ahora</a>

                            <br />
                            <!-- <a href="#">¿Cómo funciona?<i class="icon-caret-right1 position-relative"
                                    style="top: 2px"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>




        </section><!-- #Slider End -->

        <!-- Content
		============================================= -->
        <section id="content">
            <div class="content-wrap p-0">

                <div class="mx-auto center bottommargin heading-block" style="max-width: 640px; margin-top: 80px">

                    <div class="heading-block border-bottom-0 mb-3">
                        <h1 class="how-title">¿Cómo funciona?</h1>
                    </div>
                    <p class="text-muted mb-0" style="font-size:18px">Democratizamos las inversiones en bienes raices a
                        través de Crowdfunding Inmobiliario al alcance de todos</p>
                </div>

                <div class="features-items mx-auto" style="max-width: 1000px;">
                    <div class="row justify-content-around">
                        <div class="col-md-5 bottommargin-lg ">
                            <div class="feature-box media-box">
                                <div class="how-img-container">
                                    <img class="how-img" src="<%= host %>/assets/images/search.png" alt="">
                                </div>
                                <div class="fbox-content">
                                    <h2 class="h4 font-weight-bold mb-2 mt-3">1. Buscamos proyectos inmobiliarios</h2>
                                    <div class="lead font-weight-normal text-black-50 text-justify">Realizamos una
                                        búsqueda
                                        exhaustiva de proyectos inmobiliarios en búsqueda de capital privado.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 bottommargin-lg">
                            <div class="feature-box media-box">
                                <div class="how-img-container">
                                    <img class="how-img" src="<%= host %>/assets/images/select.png" alt="">
                                </div>
                                <div class="fbox-content">
                                    <h2 class="h4 font-weight-bold mb-2 mt-3">2. Seleccionamos los mejores proyectos
                                    </h2>
                                    <div class="lead font-weight-normal text-black-50 text-justify"> Realizamos un
                                        proceso de
                                        análisis y filtrado profundo para seleccionar los proyectos más prometedores
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-md-5 bottommargin-lg">
                            <div class="feature-box media-box">
                                <div class="how-img-container">
                                    <img class="how-img" src="<%= host %>/assets/images/grow.png" alt="">
                                </div>
                                <div class="fbox-content">
                                    <h2 class="h4 font-weight-bold mb-2 mt-3">3. Recaudamos Capital con la Comunidad
                                    </h2>
                                    <div class="lead font-weight-normal text-black-50 text-justify">Juntamos la
                                        inversión de
                                        pequeños, medianos y grandes inversionistas de la comunidad para financierar los
                                        diferentes proyectos inmobiliarios</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 bottommargin-lg">
                            <div class="feature-box media-box">
                                <div class="how-img-container">
                                    <img class="how-img" src="<%= host %>/assets/images/investor.png" alt="">
                                </div>
                                <div class="fbox-content">
                                    <h2 class="h4 font-weight-bold mb-2 mt-3">4. Generación de retornos</h2>
                                    <div class="lead font-weight-normal text-black-50 text-justify">A través de un
                                        portafolio
                                        diversificado y un estricto proceso de selección, nuestra comunidad genera
                                        ganancias a través de la democratización de la inversión inmobiliaria.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="section border-0 "
                    style="padding: 100px 0px; background-color:#0c1427; background-size: 100% auto;background: linear-gradient( #212529c7, #212529c9 ), url('<%= host %>/assets/images/building.jpg');background-repeat: no-repeat;background-position: bottom;">
                    <div class="container">
                        <div class="row justify-content-center align-items-center ">
                            <div class="col-sm-12 col-md-6 ">
                                <h1 style="color:white; text-align: center; margin-bottom: 0px">Inversiones más
                                    seguras con garantías hipotecarias</h1>

                                <div class="text-center">
                                    <a style="border-color: white; color: white" href="#"
                                        class="button button-border button-dark button-rounded button-large ml-0 topmargin-sm">Conocer
                                        más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="section bg-transparent border-0"
                    style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom:40px">
                    <div class="container bg-color-light border-0 rounded-lg  p-md-5" style="background: #76b8ff12">
                        <div class="row justify-content-between align-items-center bottommargin-sm">
                            <div class="col-lg-8 col-sm-8">
                                <div class="heading-block border-bottom-0 mb-3">
                                    <h1>¿Cómo empezar a invertir en propiedades?</h1>
                                </div>
                                <p class="text-muted mb-0" style="font-size:18px">Forma parte de la comunidad más
                                    importante de Crowdfunding Inmobiliario de México y explora la nueva forma de
                                    invertir en bienes raices.</p>
                            </div>
                            <div class="col-lg-3 col-sm-5 mt-4 mt-sm-0">
                                <img src="<%= host %>/assets/images/investor.png" alt="">
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="row justify-content-around">
                            <div class="col-lg-3 col-md-3 mt-5">
                                <div class="feature-text">
                                    <div class="fbox-text color">1.</div>
                                    <h3>Registrate</h3>
                                </div>
                                <p>Crea tu cuenta en unos minutos para ingresar a la plataforma.</p>
                            </div>
                            <div class="col-lg-3 col-md-43 mt-5">
                                <div class="feature-text">
                                    <div class="fbox-text color">2.</div>
                                    <h3>Explora</h3>
                                </div>
                                <p>Explora y analisa las oportunidades de inversión.</p>
                            </div>
                            <div class="col-lg-3 col-md-3 mt-5">
                                <div class="feature-text">
                                    <div class="fbox-text color">3.</div>
                                    <h3>Invierte</h3>
                                </div>
                                <p>Inverte y diversifica tu inversión en los proyectos que te interesan.</p>
                            </div>
                            <div class="col-lg-3 col-md-3 mt-5">
                                <div class="feature-text">
                                    <div class="fbox-text color">4.</div>
                                    <h3>Disfruta</h3>
                                </div>
                                <p>Recibe tus ganancias. Nosotros nos encargamos de todo</p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- <hr> -->

                <div class="section border-0 bg-transparent mb-1" style="padding-top: 20px">
                    <div class="container">
                        <div class="row justify-content-between align-items-end bottommargin">
                            <div class="col-12">
                                <div class="heading-block border-bottom-0 mb-3">
                                    <h2>¿LISTO PARA INVERTIR? EXPLORA PROYECTOS</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">

                                        <p class="text-muted mb-0">Conoce los proyectos inmobiliarios más prometedores
                                            de la
                                            industria en busca de inversión y forma parte de la comunidad de
                                            inversionistas.</p>
                                    </div>
                                    <div class="col-md-5 d-flex flex-row justify-content-md-end mt-4 mt-md-0">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle button button-border button-rounded ls0 font-weight-semibold nott btn"
                                                href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                All Projects
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">+ Tech &amp; Innovations</a>
                                                <a class="dropdown-item" href="#">+ Art</a>
                                                <a class="dropdown-item" href="#">+ Travel</a>
                                                <a class="dropdown-item" href="#">+ Music</a>
                                                <a class="dropdown-item" href="#">+ Gadgets</a>
                                                <a class="dropdown-item" href="#">+ Fashion</a>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle button button-border button-rounded ls0 font-weight-semibold nott btn"
                                                href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Most Funded
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Recent Projects</a>
                                                <a class="dropdown-item" href="#">Popular Projects</a>
                                                <a class="dropdown-item" href="#">Ending Soon</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <!-- Item 1 -->
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <div class="i-products">
                                    <div class="products-image" style="height: 280px; width: 100%;">
                                        <a href="#">
                                            <img style="height: 100%; width: 100%; object-fit: cover"
                                                src="https://files.briq.mx/uploads/project/photo/230/thumb_Captura_de_pantalla_2020-06-01_a_la_s__11.30.55.png"
                                                alt="Image 1">
                                            <span class="badge">Deuda</span>
                                        </a>
                                    </div>
                                    <div class="products-desc">
                                        <h3><a href="#">Ernestina Etapa 1</a></h3>
                                        <p>Campaña 2 • Por Pérez Arquitectura</p>
                                        <div class="clear"></div>
                                        <ul class="skills">
                                            <li data-percent="73">
                                                <span class="d-flex justify-content-between w-100">
                                                    <span class="counter"><span data-from="0" data-to="73"
                                                            data-refresh-interval="10"
                                                            data-speed="2000">73</span><strong>%</strong>
                                                        Recaudado</span>
                                                    <span class="counter"><span data-from="0" data-to="20"
                                                            data-refresh-interval="3" data-speed="1200">24 días</span>
                                                        restantes</span>
                                                </span>
                                                <div class="progress skills-animated" style="width: 73%;"></div>
                                            </li>
                                        </ul>



                                        <div class="products-hoverlays">
                                            <span class="products-location"><i class="icon-map-marker1"></i> Melbourne,
                                                Australia</span>
                                            <ul class="list-group-flush my-3 mb-0">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            Tasa Anual Fija <br> <strong>$12,32,000</strong>
                                                        </div>
                                                        <div class="col-6">
                                                            Evaluación <br> <strong>$12,32,000</strong>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="card-table-desc">Mínimo de inversión</div>
                                                        </div>
                                                        <div class="col-6">
                                                            <strong>$10,000 MXN</strong>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="card-table-desc">Plazo</div>
                                                        </div>
                                                        <div class="col-6">
                                                            <strong>3 a 24 meses</strong>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div style="font-weight: bold; font-size: 16px;text-align:center; padding-top:10px; color: black">
                                                        Quedan 24 días para invertir
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="row ">
                                                <div class="col-6">
                                                    <button class="btn btn-outline-primary btn-block">Ver +Info</button>
                                                </div>
                                                <div class="col-6">
                                                    <button class="btn btn-primary btn-block">Invertir</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 2 -->
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <div class="i-products">
                                    <div class="products-image" style="height: 280px; width: 100%;">
                                        <a href="#">
                                            <img style="height: 100%; width: 100%; object-fit: cover"
                                                src="https://files.briq.mx/uploads/project/photo/230/thumb_Captura_de_pantalla_2020-06-01_a_la_s__11.30.55.png"
                                                alt="Image 1">
                                            <span class="badge">Deuda</span>
                                        </a>
                                    </div>
                                    <div class="products-desc">
                                        <h3><a href="#">Bluetooth Lights</a></h3>
                                        <p>Appropriately monetize diverse leadership skills vis-a-vis unique core
                                            competencies. Enthusiastically transition future-proof models.</p>
                                        <div class="clear"></div>
                                        <ul class="skills">
                                            <li data-percent="85">
                                                <span class="d-flex justify-content-between w-100">
                                                    <span class="counter"><span data-from="0" data-to="85"
                                                            data-refresh-interval="10"
                                                            data-speed="2000"></span><strong>%</strong> Funded</span>
                                                    <span class="counter"><span data-from="0" data-to="11"
                                                            data-refresh-interval="3" data-speed="1200"></span> Days
                                                        Left</span>
                                                </span>
                                                <div class="progress"></div>
                                            </li>
                                        </ul>
                                        <div class="products-hoverlays">
                                            <span class="products-location"><i class="icon-map-marker1"></i>
                                                Singapore</span>
                                            <ul class="list-group-flush my-3 mb-0">
                                                <li class="list-group-item"><strong>$12,32,000</strong> Pledged</li>
                                                <li class="list-group-item"><strong>123</strong> Partcipants</li>
                                                <li class="list-group-item"><strong>345</strong> Contributions</li>
                                                <li class="list-group-item"><strong>11</strong> days remaining</li>
                                            </ul>
                                            <div class="product-user d-flex align-items-center mt-4">
                                                <img src="<%= host %>/app_assets/images/crowdfunding_demo/investors/2.jpg"
                                                    alt="">
                                                <a href="#">By Hanson Deck</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 3 -->
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <div class="i-products">
                                    <div class="products-image" style="height: 280px; width: 100%;">
                                        <a href="#">
                                            <img style="height: 100%; width: 100%; object-fit: cover"
                                                src="https://files.briq.mx/uploads/project/photo/230/thumb_Captura_de_pantalla_2020-06-01_a_la_s__11.30.55.png"
                                                alt="Image 1">
                                            <span class="badge">Deuda</span>
                                        </a>
                                    </div>
                                    <div class="products-desc">
                                        <h3><a href="#">Electric Bike</a></h3>
                                        <p>Authoritatively drive distributed platforms whereas quality methods of
                                            empowerment. Conveniently deploy error-free portals vis-a-vis internal.</p>
                                        <div class="clear"></div>
                                        <ul class="skills">
                                            <li data-percent="89">
                                                <span class="d-flex justify-content-between w-100">
                                                    <span class="counter"><span data-from="0" data-to="89"
                                                            data-refresh-interval="10"
                                                            data-speed="2000"></span><strong>%</strong> Funded</span>
                                                    <span class="counter"><span data-from="0" data-to="19"
                                                            data-refresh-interval="3" data-speed="1200"></span> Days
                                                        Left</span>
                                                </span>
                                                <div class="progress"></div>
                                            </li>
                                        </ul>
                                        <div class="products-hoverlays">
                                            <span class="products-location"><i class="icon-map-marker1"></i> Dubai,
                                                UAE</span>
                                            <ul class="list-group-flush my-3 mb-0">
                                                <li class="list-group-item"><strong>$12,32,000</strong> Pledged</li>
                                                <li class="list-group-item"><strong>123</strong> Partcipants</li>
                                                <li class="list-group-item"><strong>345</strong> Contributions</li>
                                                <li class="list-group-item"><strong>19</strong> days remaining</li>
                                            </ul>
                                            <div class="product-user d-flex align-items-center mt-4">
                                                <img src="<%= host %>/app_assets/images/crowdfunding_demo/investors/3.jpg"
                                                    alt="">
                                                <a href="#">By Eleanor Fant</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 4 -->
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <div class="i-products">
                                    <div class="products-image" style="height: 280px; width: 100%;">
                                        <a href="#">
                                            <img style="height: 100%; width: 100%; object-fit: cover"
                                                src="https://files.briq.mx/uploads/project/photo/230/thumb_Captura_de_pantalla_2020-06-01_a_la_s__11.30.55.png"
                                                alt="Image 1">
                                            <span class="badge">Deuda</span>
                                        </a>
                                    </div>
                                    <div class="products-desc">
                                        <h3><a href="#">Waterproof Shoe</a></h3>
                                        <p>Quickly enhance e-business partnerships whereas pandemic strategic theme
                                            areas. Progressively fashion exceptional ROI after viral opportunities.</p>
                                        <div class="clear"></div>
                                        <ul class="skills">
                                            <li data-percent="92">
                                                <span class="d-flex justify-content-between w-100">
                                                    <span class="counter"><span data-from="0" data-to="92"
                                                            data-refresh-interval="10"
                                                            data-speed="2000"></span><strong>%</strong> Funded</span>
                                                    <span class="counter"><span data-from="0" data-to="16"
                                                            data-refresh-interval="3" data-speed="1200"></span> Days
                                                        Left</span>
                                                </span>
                                                <div class="progress"></div>
                                            </li>
                                        </ul>
                                        <div class="products-hoverlays">
                                            <span class="products-location"><i class="icon-map-marker1"></i>
                                                Singapore</span>
                                            <ul class="list-group-flush my-3 mb-0">
                                                <li class="list-group-item"><strong>$12,32,000</strong> Pledged</li>
                                                <li class="list-group-item"><strong>123</strong> Partcipants</li>
                                                <li class="list-group-item"><strong>345</strong> Contributions</li>
                                                <li class="list-group-item"><strong>16</strong> days remaining</li>
                                            </ul>
                                            <div class="product-user d-flex align-items-center mt-4">
                                                <img src="<%= host %>/app_assets/images/crowdfunding_demo/investors/4.jpg"
                                                    alt="">
                                                <a href="#">By Giles Posture</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 5 -->
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <div class="i-products">
                                    <div class="products-image" style="height: 280px; width: 100%;">
                                        <a href="#">
                                            <img style="height: 100%; width: 100%; object-fit: cover"
                                                src="https://files.briq.mx/uploads/project/photo/230/thumb_Captura_de_pantalla_2020-06-01_a_la_s__11.30.55.png"
                                                alt="Image 1">
                                            <span class="badge">Deuda</span>
                                        </a>
                                    </div>
                                    <div class="products-desc">
                                        <h3><a href="#">Wooden Guiter</a></h3>
                                        <p>Continually whiteboard standardized outsourcing before mission-critical
                                            deliverables. Compellingly e-enable integrated action items fully tested.
                                        </p>
                                        <div class="clear"></div>
                                        <ul class="skills">
                                            <li data-percent="100">
                                                <span class="d-flex justify-content-between w-100">
                                                    <span class="counter"><span data-from="0" data-to="100"
                                                            data-refresh-interval="10"
                                                            data-speed="2000"></span><strong>%</strong> Funded</span>
                                                    <span class="counter"><span data-from="0" data-to="7"
                                                            data-refresh-interval="3" data-speed="1200"></span> Days
                                                        Left</span>
                                                </span>
                                                <div class="progress"></div>
                                            </li>
                                        </ul>
                                        <div class="products-hoverlays">
                                            <span class="products-location"><i class="icon-map-marker1"></i> Mumbai,
                                                India</span>
                                            <ul class="list-group-flush my-3 mb-0">
                                                <li class="list-group-item"><strong>$12,32,000</strong> Pledged</li>
                                                <li class="list-group-item"><strong>123</strong> Partcipants</li>
                                                <li class="list-group-item"><strong>345</strong> Contributions</li>
                                                <li class="list-group-item"><strong>7</strong> days remaining</li>
                                            </ul>
                                            <div class="product-user d-flex align-items-center mt-4">
                                                <img src="<%= host %>/app_assets/images/crowdfunding_demo/investors/5.jpg"
                                                    alt="">
                                                <a href="#">By Alan Fresco</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 6 -->
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <div class="i-products">
                                    <div class="products-image" style="height: 280px; width: 100%;">
                                        <a href="#">
                                            <img style="height: 100%; width: 100%; object-fit: cover"
                                                src="https://files.briq.mx/uploads/project/photo/230/thumb_Captura_de_pantalla_2020-06-01_a_la_s__11.30.55.png"
                                                alt="Image 1">
                                            <span class="badge">Deuda</span>
                                        </a>
                                    </div>
                                    <div class="products-desc">
                                        <h3><a href="#">Travel Blanket</a></h3>
                                        <p>Assertively foster an expanded array of meta-services via corporate ideas.
                                            Quickly simplify virtual results and client-based.</p>
                                        <div class="clear"></div>
                                        <ul class="skills">
                                            <li data-percent="80">
                                                <span class="d-flex justify-content-between w-100">
                                                    <span class="counter"><span data-from="0" data-to="73"
                                                            data-refresh-interval="10"
                                                            data-speed="2000"></span><strong>%</strong> Funded</span>
                                                    <span class="counter"><span data-from="0" data-to="28"
                                                            data-refresh-interval="3" data-speed="1200"></span> Days
                                                        Left</span>
                                                </span>
                                                <div class="progress"></div>
                                            </li>
                                        </ul>
                                        <div class="products-hoverlays">
                                            <span class="products-location"><i class="icon-map-marker1"></i> Bali,
                                                Indonesia</span>
                                            <ul class="list-group-flush my-3 mb-0">
                                                <li class="list-group-item"><strong>$12,32,000</strong> Pledged</li>
                                                <li class="list-group-item"><strong>123</strong> Partcipants</li>
                                                <li class="list-group-item"><strong>345</strong> Contributions</li>
                                                <li class="list-group-item"><strong>28</strong> days remaining</li>
                                            </ul>
                                            <div class="product-user d-flex align-items-center mt-4">
                                                <img src="<%= host %>/app_assets/images/crowdfunding_demo/investors/6.jpg"
                                                    alt="">
                                                <a href="#">By Hilary Ouse</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section m-0"
                    style="padding-top: 8rem; padding-bottom:8rem;background: url('<%= host %>/assets/images/building2.jpg'); background-size: cover; background-repeat: no-repeat;">
                    <div class="container">
                        <div
                            class="row no-gutters align-items-center p-4 rounded overflow-hidden shadow-md flex-md-row position-relative mx-auto">
                            <div class="col-12 p-4 d-flex flex-column center">
                                <h1 class="page-title" style="color:white; font-size: 3em; text-align:left">Invierte en
                                    Bienes Raíces
                                </h1>
                                <div class="page-subtitle"
                                    style="color:white; margin: 0px; margin-bottom: 10px; text-align: left;">Empieza
                                    desde 10 mil pesos de manera segura
                                    y
                                    transparente</div>
                                <div style="text-align:left">
                                    <a href="#" style="padding: 10px 30px;"
                                        class="button button-large button-rounded font-weight-semibold ls0 nott ml-0">Abrir
                                        cuenta</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #content end -->

        <!-- Footer
		============================================= -->
        <footer id="footer" class="dark" style="background-color: #373D52">
            <div class="container">

                <!-- Footer Widgets
				============================================= -->
                <div class="footer-widgets-wrap pb-4">

                    <div class="row">

                        <div class="col-lg-2 col-md-2 col-6">
                            <div class="widget">

                                <h4 class="ls0 mb-4 nott">Empieza a invertir</h4>

                                <ul class="list-unstyled iconlist ml-0">
                                    <li class="mb-2"><a href="#">Abrir Cuenta</a></li>
                                    <li class="mb-2"><a href="#">¿Cómo funciona?</a></li>
                                    <li class="mb-2"><a href="#">Preguntas frecuentes</a></li>
                                    <li class="mb-2"><a href="#">Ver oportunidades</a></li>
                                    <li class="mb-2"><a href="#">Conocer desarrolladores</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-6">
                            <div class="widget">

                                <h4 class="ls0 mb-4 nott">¿Eres desarrollador?</h4>

                                <ul class="list-unstyled iconlist ml-0">
                                    <li class="mb-2"><a href="#">Levanta capital</a></li>
                                    <li class="mb-2"><a href="#">¿Cómo seleccionamos proyectos?</a></li>

                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-6">
                            <div class="widget">

                                <h4 class="ls0 mb-4 nott">Quiénes somos</h4>

                                <ul class="list-unstyled iconlist ml-0">
                                    <li class="mb-2"><a href="#">Sobre nosotros</a></li>
                                    <li class="mb-2"><a href="#">Aviso de privacidad</a></li>
                                    <li class="mb-2"><a href="#">Términos y condiciones</a></li>

                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-6">
                            <div class="widget">

                                <h4 class="ls0 mb-4 nott">Más información</h4>

                                <ul class="list-unstyled iconlist ml-0">
                                    <li class="mb-2"><a href="#">Contacto</a></li>
                                    <li class="mb-2"><a href="#">Recursos</a></li>
                                    <li class="mb-2"><a href="#">Blog</a></li>

                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 text-md-right">
                            <div class="widget">
                                <!-- <h1 style="margin-bottom:0px">Fibra Cero</h1> -->
                                <img style="width:180px;margin-bottom: 20px"
                                    src="<%= host %>/assets/images/fibracero/logo-white.png" alt="">
                                <!-- <img src="demos/ecommerce/images/logo-footer.png" alt="" height="60" class="mb-3"> -->

                                <p>Buscamos impulsar el equilibrio que genera invertir en proyectos inmobiliarios, un
                                    dinamismos único que genera confianza y seguridad por si solo en cada proyecto.</p>

                                <div class="d-flex justify-content-md-end">
                                    <a href="#" class="social-icon si-small si-facebook si-colored" title="Facebook">
                                        <i class="fa fa-facebook" style="margin-top: 7px"></i>

                                    </a>

                                    <a href="#" class="social-icon si-small si-instagram si-colored" title="instagram">
                                        <i class="fa fa-instagram" style="margin-top: 7px"></i>
                                    </a>

                                    <a href="#" class="social-icon si-small si-paypal si-colored" title="Paypal">
                                        <i class="fa fa-twitter" style="margin-top: 7px"></i>
                                    </a>

                                    <a href="#" class="social-icon si-small si-wikipedia si-colored" title="Apple Pay">
                                        <i class="fa fa-youtube" style="margin-top: 7px"></i>

                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>

                    <hr>



                    <p class="font-weight-light text-white-50 mt-4">En términos del artículo octavo transitorio de la
                        ley para regular las instituciones de tecnología financiera, la autorización para llevar a cabo
                        operaciones dentro de esta plataforma de financiamiento colectivo se encuentra en trámite, por
                        lo que la operación actual de la plataforma no es una actividad supervisada por las autoridades
                        mexicanas</p>

                </div><!-- .footer-widgets-wrap end -->
            </div>

            <!-- Copyrights
			============================================= -->
            <div id="copyrights">
                <div class="container">

                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6">
                            Fibra Cero 2020 &copy; Todos los Derechos Reservados
                        </div>


                    </div>

                </div>
            </div><!-- #copyrights end -->
        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->




    <!-- External JavaScripts
	============================================= -->
    <script src="<%= host %>/app_assets/js/jquery.js"></script>

    <!-- Footer Scripts
	============================================= -->
    <script src="<%= host %>/app_assets/js/functions.js"></script>

    <script>
        $(document).ready(function () {

            var screenWidth = $(window).width()
            if (screenWidth > 960) {
                $('.nav-title').css('color', 'white')
                $('#myLogoWhite').show().css('height', '50px')
                $('#myLogoBlack').hide()
            } else {
                $('.nav-title').css('color', 'black')
                $('#myLogoWhite').hide()
                $('#myLogoBlack').show().css('height', '30px')
            }


            $(document).scroll(function () {
                screenWidth = $(window).width()
                var pos = $(document).scrollTop();

                if (pos == 0 && screenWidth > 960) {
                    $('.nav-title').css('color', 'white');
                    $('#myLogoWhite').show()
                    $('#myLogoBlack').hide()
                    return;
                }

                $('.nav-title').css('color', 'black')
                $('#myLogoWhite').hide()
                $('#myLogoBlack').show()
                return;
            });

            $(window).on('resize', function () {
                screenWidth = $(window).width()
                var pos = $(document).scrollTop();

                if (pos == 0 && screenWidth > 960) {
                    $('.nav-title').css('color', 'white');
                    $('#myLogoWhite').show().css('height', '50px')
                    $('#myLogoBlack').hide().css('height', '50px')
                    return;
                }

                $('#myLogoWhite').hide()
                $('#myLogoBlack').show().css('height', '30px')

                $('.nav-title').css('color', 'black')
                return;
            });
        })
    </script>

</body>

</html>